<div id="wrapper" class="chat_item slide-left">
  <div class="ext">
    <p class="attr"></p>
    <p id="mute" class="attr no_time">
      <i class="web_wechat_no-remind"></i>
    </p>
  </div>
  <div class="avatar">
    <img id="avatar" class="img" src="" alt="">
    <i id="notice-count" class="icon web_wechat_reddot_middle"></i>
  </div>
  <div class="info">
    <h3 class="nickname">
      <span id="name" class="nickname_text"></span>
    </h3>
    <p class="msg">
      <span id="msg"></span>
    </p>
  </div>
</div>